#modalLink {
    position: sticky;
    background-color: #000000;
    height: 59px;
    width: 100%;
    padding: 0;
    margin: 0;
    top:0;
    right:0;
    left:0;
}

#modalMenu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#edition {
    text-decoration: none;
    color: #ffff;
}

#modalLink button {
    background-color: #ffff;
    border-radius: 60px;
    width: 216px;
    height: 38px;
    font-size: 14px;
}

#modal{
    background-color: #ffff;
    /* background-color: aqua; */
    position:fixed;
    top: 100px;
    left: calc(50% - 250px);
    z-index: 1000;
    display: block;
    visibility: hidden;
    opacity: 1;
    transition: 0.2s;
    width: 630px;
    height: 640px;
    border-radius: 10px;
}

#modalHeader {
    margin-bottom: 30px;
}

#closed {
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: xx-large;
    padding: 6px;
}

.galleryPictures {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color:#000000;
}

#galleryModal {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

#galleryModal div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(20%);
}

#galleryModal img {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 10px;
    width: 90px;
    height: 110px;
}

#borderGray {
    border-top: solid 1px #b3b3b3;
    width:420px;
}

#modalFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalFooter button {
    margin-top: 20px;
    color:#ffff;
    background-color: #1D6154;
    border-radius: 60px;
    width: 237px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syne';
}

#modalFooter p {
    margin-top: 20px;
    color: #D65353;
    font-family: 'Syne';
}
